<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>地图爬取--openlayers版本</title>

    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/vue@2"></script>
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@main/dist/en/v7.0.0/legacy/ol.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@main/dist/en/v7.0.0/legacy/ol.css">
    <script src="./js/bd-09.js"></script>
    <script src="./js/locationUtils.js"></script>
    <script src="./js/mapUtils.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <style type="text/css">
        #app, body, html, #map{
        height: 100%; width: 100%;
        }
    </style>
</head>
<body>
<div id="app">
    <div style="position: absolute; top: 10px; right: 10px; background: #ffffff; z-index: 999;">
        <el-popover
                placement="bottom"
                width="400"
                trigger="click"
                content="这是一段内容,这是一段内容,这是一段内容,这是一段内容。">
            <el-button slot="reference">可选项</el-button>
            <el-row>
                区域：
                <el-select size="mini" style="width: 100px" v-model="province" placeholder="省份" @change="changeProvince">
                    <el-option v-for="item in provinces" :label="item.label" :value="item.value"></el-option>
                </el-select>

                <el-select size="mini" style="width: 100px" v-model="city" placeholder="城市" @change="changeCity">
                    <el-option v-for="item in cities" :label="item.label" :value="item.value"></el-option>
                </el-select>
                <el-select size="mini" style="width: 100px" v-model="county" placeholder="区县" @change="changeCounty">
                    <el-option v-for="item in counties" :label="item.label" :value="item.value"></el-option>
                </el-select>
            </el-row>
            <el-row>
                <el-checkbox :indeterminate="zooms.length > 0 && zooms.length < zoomList.length" v-model="checkAll" @change="handleCheckAllChange"></el-checkbox>图层
                <el-checkbox-group v-model="zooms" @change="(val) => checkAll = (val.length > 0 && val.length == zoomList.length)">
                    <el-checkbox v-for="item in zoomList" :label="item" :key="item">{{item}}</el-checkbox>
                </el-checkbox-group>

            </el-row>

        </el-popover>


    </div>
    <div id="map" style=""></div>
</div>
<script>

    var vue = new Vue({
        el: '#app',
        data: {
            provinces: [],
            cities: [],
            province: '',
            city: '',
            county: '',
            selectGeoFeature: null,
            provinceFeatures: [],
            cityFeatures: [],
            countyFeatures: [],
            counties: [],
            selectLayer: null,
            zooms: [],
            zoomList: [],
            isIndeterminate: false,
            checkAll: false
        },
        watch: {
            selectGeoFeature(newVal) {
                addGeoLayer(this.map, newVal)
            }
        },
        methods: {
            init() {
                this.initMap()
                this.initGeoJson()
                this.initZoomList()
            },
            initZoomList() {
                let arr = []
                for(let i =3; i <= 18; i++) {
                    arr.push(i)
                }
                this.zoomList = arr

            },
            //初始化geojson
            initGeoJson(cityCode) {
                //从阿里获取geojson
                let that = this
                that.getGeoJson('100000', (geoJson) => {
                    that.provinceFeatures = geoJson.features
                    that.provinces = geoJson.features.map(o => {return {value: o.properties.adcode, label: o.properties.name}})
                })
                // axios.get('https://geo.datav.aliyun.com/areas_v3/bound/100000_full.json').then(resp => {
                //     let geoJson = resp.data
                //
                // })
            },

            changeProvince(val) {
                let that = this
                this.city = ''
                this.county = ''
                this.selectGeoFeature = this.provinceFeatures.filter(o => o.properties.adcode == val)[0]
                that.getGeoJson(val, (geoJson) => {
                    that.cityFeatures = geoJson.features
                    that.cities = geoJson.features.map(o => {return {value: o.properties.adcode, label: o.properties.name}})
                })
            },
            changeCity(val) {
                let that = this
                this.county = ''
                this.selectGeoFeature = this.cityFeatures.filter(o => o.properties.adcode == val)[0]
                that.getGeoJson(val, (geoJson) => {
                    that.countyFeatures = geoJson.features
                    that.counties = geoJson.features.map(o => {return {value: o.properties.adcode, label: o.properties.name}})
                })
            },

            changeCounty(val) {
                let that = this
                this.selectGeoFeature = this.countyFeatures.filter(o => o.properties.adcode == val)[0]
                // that.getGeoJson(val, (geoJson) => {
                //     that.countyFeatures = geoJson.features
                //     that.counties = geoJson.features.map(o => {return {value: o.properties.adcode, label: o.properties.name}})
                // })
            },


            getGeoJson(adcode, success) {
                axios.get('https://geo.datav.aliyun.com/areas_v3/bound/'+adcode+'_full.json').then(resp => {
                    let geoJson = resp.data
                    if(success) success(geoJson)
                })
            },
            //初始化地图
            initMap() {

                let map = initMap([119.807885, 30.735649], 'map')
                let mapLayer = addMapLayer(map)
                this.map = map
                this.mapLayer = mapLayer
            },
            handleCheckAllChange(val) {
                if(val) this.zooms = this.zoomList
                else this.zooms = []
            }
        },
        mounted() {
            this.init()
        }
    })
</script>
</body>
</html>
