<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebSocket</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <script type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak=qi50bY3STQhYsDmISw8yP1EI8UUbppf6"></script>
    <!--加载鼠标绘制工具-->
    <script type="text/javascript" src="//api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.js"></script>
    <link rel="stylesheet" href="//api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.css" />
    <!--layer模块样式-->
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcdn.net/ajax/libs/layer/1.8.5/skin/layer.css" />
    <!--加载检索信息窗口-->
    <script type="text/javascript" src="//api.map.baidu.com/library/SearchInfoWindow/1.4/src/SearchInfoWindow_min.js"></script>
    <link rel="stylesheet" href="//api.map.baidu.com/library/SearchInfoWindow/1.4/src/SearchInfoWindow_min.css" />
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/layer/1.8.5/layer.min.js"></script>
    <style type="text/css">
        body, html, #app, #allmap{
            height: 100%;
        }
        .point-input{
            width: 50px;
            font-size: 12px;
            border: none;
        }
    </style>
</head>
<body>
<div id="app">
    <!--<div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion"
                       href="#collapseOne">
                        点击我进行展开，再次点击我进行折叠。第 1 部分
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                    cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                    vice lomo.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion"
                       href="#collapseTwo">
                        点击我进行展开，再次点击我进行折叠。第 2 部分
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                    cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                    vice lomo.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion"
                       href="#collapseThree">
                        点击我进行展开，再次点击我进行折叠。第 3 部分
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                    cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                    vice lomo.
                </div>
            </div>
        </div>
    </div>-->
    <div id="allmap" style="overflow:hidden;zoom:1;position:relative;">
        <div id="map" style="height:100%;-webkit-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;"></div>
    </div>
    <div style="position: absolute; z-index: 100; padding:20px;top: 0px;width: 250px; background: #fefefe;">
        <button class="btn btn-primary" type="button" @click="cleanAll">清除覆盖物</button>
        <form>
            <div class="form-group">
                <label>端口</label>
                <input type="text" v-model.trim="port" class="form-control"/>
            </div>
            <div class="form-group">
                <label>下载路径</label>
                <input type="text" v-model.trim="params.fileRootPath" class="form-control"/>
            </div>
            <div class="form-group">
                <label>地图样式<a href="http://lbsyun.baidu.com/custom/list.htm" target="_blank">查看可设置值</a></label>
                <input type="text" v-model.trim="simpleStyle" class="form-control"/>
            </div>
            <div class="form-group">
                <label>线程数量</label>
                <input type="text" v-model.trim="params.threadNum" class="form-control"/>
            </div>
            <div class="form-group">
                <label>地图样式json<a href="http://wiki.lbsyun.baidu.com/custom/" target="_blank">设置JSON</a></label>
                <textarea type="text" v-model.trim="styleJson" style="width: 100%;height: 100px;" class="form-control" placeholder="地图样式json"></textarea>

            </div>
            <div class="form-group">
                <label>图块地址</label>
                <textarea type="text" v-model.trim="params.mapUrl" style="width: 100%;height: 100px;" class="form-control" placeholder="图块地址"></textarea>
            </div>
            <div class="form-group">
                <label>
                    选择图层
                </label>
                    <div class="row" style="margin-left: 0">
                        <div class="col-md-10" v-for="item in maxZoom" v-if="item >= minZoom" style="width: 40px;padding: 0;">
                            <input  type="checkbox" v-model="params.zoomArr" :value="item" name="selectZoom" /> {{item}}
                        </div>

                    </div>
            </div>
           <!-- <div class="form-group">
                <label>
                    选择文件存储位置
                </label>
                <input type="text" placeholder="文件存储位置,默认在" @change="changDir"/>
&lt;!&ndash;                <button type="button" class="btn btn-sm btn-primary" @click="browseFolder">选择文件图片存储位置</button>&ndash;&gt;
            </div>-->

            <div class="form-group">
                <label>矩形坐标范围</label>
                <table class="table table-border">
                    <thead>
                    <tr>
                        <th>类型</th>
                        <th>经度</th>
                        <th>纬度</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>最小点</td>
                        <td><input class="point-input" v-model="params.minPoint.x" readonly="readonly"/></td>
                        <td><input class="point-input" v-model="params.minPoint.y" readonly="readonly"/></td>
                    </tr>
                    <tr>
                        <td>最大点</td>
                        <td><input class="point-input" v-model="params.maxPoint.x" readonly="readonly"/></td>
                        <td><input class="point-input" v-model="params.maxPoint.y" readonly="readonly"/></td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <div>
                <span>{{ process.finish }}/{{ process.total == -1 ? 0 : process.total }}({{process.finishRate}}%)&nbsp;&nbsp;&nbsp;{{process.speed}}张/s&nbsp;&nbsp;&nbsp;{{process.remainTime}}</span>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" :style="'width: ' + process.finishRate + '%'">
                    <span class="sr-only">{{ process.finish }}/{{ process.total }}({{process.finishRate}}%)</span>
                </div>
            </div>

            <button type="button" class="btn btn-sm btn-primary" @click="initMap">渲染</button>
            <button type="button" class="btn btn-sm btn-primary" @click="connect">{{btnstatusMap[btnstatus]}}</button>
            <button type="button" class="btn btn-sm btn-primary" @click="shutdown">结束</button>

        </form>
    </div>
   <!-- <textarea style="width: 400px; height: 200px" v-model="clientInput"></textarea>
    <button type="button" @click="sendMsg">提交</button>

    <h3>服务器输出：</h3>
    <textarea style="width: 400px; height: 200px" v-model="serverResult"></textarea>
    -->
</div>
<script src="vue.js"></script>
<script type="text/javascript">
    var map
    var overlay
    var socket
    var vue = new Vue({
        el: '#app',
        data: function () {
            return {
                port: '9998',
                simpleStyle: '',
                styleJson: '',
                connectStatus: '未连接',
                maxZoom: 19,
                minZoom: 3,
                btnstatus: 0,
                btnstatusMap: {
                    0: '连接服务',
                    1: '已连接,点击下载',
                    2: '下载中...',
                    3: '下载完成,点击重新下载'
                },
                process: {
                    finish: 0,
                    total: -1,
                    speed: 0,
                    remainTime: 0,
                    finishRate: 0,
                    // lastTimeMile:
                },
                params: {
                    ak: 'E4805d16520de693a3fe707cdc962045',
                    cmd: '',
                    mapUrl: '',
                    threadNum: 10,
                    zoomArr: [],
                    fileRootPath: 'F:/tiles/test/',
                    minPoint: {x: '', y: ''},
                    maxPoint: {x: '', y: ''}
                },
                serverResult: '',
                clientInput: ''
            }
        },
        methods: {
            sendMsg(){
                var that = this
                var socket = that.socket
                var msg = that.clientInput
                if(msg) {
                    socket.send(msg)
                }
                that.clientInput = ''
            },
            cleanAll(){
                var that = this
                that.params.minPoint.x = ''
                that.params.minPoint.y = ''
                that.params.maxPoint.x = ''
                that.params.maxPoint.y = ''
                map.removeOverlay(overlay)
                overlay = null
            },
           /* changDir(dom){
                var that = this
                var filePath = dom.target.value.replace(/\\/g, '/')
                filePath = filePath.substring(0,filePath.lastIndexOf('/'))
                console.log(filePath)
                that.params.fileRootPath = dom.target.value
            },*/
            refreshMap(){
                var styleJson = this.styleJson
                if(map) {
                    map.setMapStyle(JSON.parse(styleJson));
                }
            },
            connect(dom){
                var that = this
                var btn = dom.target
                var btnText = btn.innerHTML
                btn.setAttribute("disabled", 'disabled')
                var params = that.params
                var btnstatus = that.btnstatus
                if(btnstatus == 0) {
                    if(socket) {
                        layer.msg('连接已存在')
                        return
                    }
                    if(window.WebSocket) {
                        socket = new WebSocket('ws://localhost:' + that.port)
                    } else {
                        alert('不支持websocket')
                    }

                    socket.onmessage = function (resp) {
                        var process = that.process
                        var resData = JSON.parse(resp.data)
                        var finish = resData.finish
                        process.total = resData.total
                        process.finishRate = (resData.finishRate * 100).toFixed(1)
                        var currDate = new Date().getTime()
                        if(process.finish == -1) {
                            process.speed = finish
                        } else {
                            process.speed = Math.floor((finish - process.finish)*1000/(currDate - process.lastTime))
                        }
                        process.finish = finish * 1
                        var remainSecond = (process.total - process.finish)/process.speed
                        process.lastTime = new Date().getTime()
                        process.remainTime = remainSecond.toFixed(0) + "s  " + (remainSecond/60).toFixed(2) + "min"

                        if(finish == resData.total && finish != 0){
                            var process = that.process
                            process.finish = 0
                            process.total = -1
                            process.finishRate = 0
                            process.speed = 0
                            process.remainTime = ''
                            that.btnstatus = 3
                            btn.removeAttribute("disabled")
                        }
                        /*var lastProcess = that.process
                        var lastFinish = lastProcess.finish

                        var currDownload = currProcess.hasDownload.value * 1
                        lastProcess.finish = currDownload
                        var total = currProcess.total * 1
                        lastProcess.total = total
                        var speed = (currDownload - lastFinish)
                        lastProcess.speed = speed
                        lastProcess.finishPer = (currDownload/total * 100).toFixed('2')
                        var lastSecond = ((total - currDownload)/speed).toFixed(0)
                        lastProcess.lastTime = lastSecond + 's(' + (lastSecond/60).toFixed(1) + 'min)'*/

                    }

                    socket.onopen = function () {
                        //that.connectStatus = '连接开启'
                        that.btnstatus = 1
                        btn.removeAttribute("disabled")
                        /* params.cmd = 'start'
                         socket.send(JSON.stringify(params))*/
                    }

                    socket.onclose = function () {
                        console.log('close')
                        btn.removeAttribute("disabled")
                        that.btnstatus = 0
                        socket = null
                        var process = that.process
                        process.finish = 0
                        process.total = -1
                        process.finishRate = 0
                        process.speed = 0
                        process.remainTime = ''
                    }
                } else if(1 == btnstatus || 3 == btnstatus) {
                    btn.removeAttribute("disabled")
                    if(!that.mapUrlIsTrue(params.mapUrl)){
                        layer.msg('图块地址不合法')
                        return
                    }
                    if(params.zoomArr.length == 0) {
                        layer.msg('请选择层级')
                        return
                    }
                    if(!overlay) {
                        layer.msg('请圈出矩形区域')
                        return
                    }
                    btn.setAttribute("disabled", 'disabled')
                    that.btnstatus = 2
                    params.cmd = 'start'
                    socket.send(JSON.stringify(params))
                }



            },
            mapUrlIsTrue(mapurl){
                var patt = /^(http|https):\/\/\S+x=\d{1,20}\S+y=\d{1,20}\S+z=\d{1,20}/;
                // x=\d{1,20}\S+y=\d{1,20}\S+z=\d{1,20}
                return patt.test(mapurl)
            },
            shutdown(){
                var params = this.params
                params.cmd = 'stop'
                socket.send(JSON.stringify(params))
            },
            initMap(){
                var that = this
                map = new BMap.Map('map')
                map.addControl(new BMap.MapTypeControl());
                var poi = new BMap.Point(120.19779524841093,30.25332080308905);
                map.centerAndZoom(poi, 16);
                map.enableScrollWheelZoom();
                var styleJson = that.styleJson
                if(styleJson) {
                    map.setMapStyle({
                        styleJson:JSON.parse(styleJson)
                    });
                }
                var simpleStyle = that.simpleStyle
                if(simpleStyle) {
                    map.setMapStyle({
                        style:simpleStyle
                    });
                }
                var overlaycomplete = function(e){
                    map.removeOverlay(overlay)
                    overlay = e.overlay
                    var pointArr = overlay.getPath()
                    var max = pointArr[1]
                    var min = pointArr[3]
                    that.params.minPoint.x = min.lng
                    that.params.minPoint.y = min.lat
                    that.params.maxPoint.x = max.lng
                    that.params.maxPoint.y = max.lat
                };
                var styleOptions = {
                    strokeColor:"red",    //边线颜色。
                    fillColor:"red",      //填充颜色。当参数为空时，圆形将没有填充效果。
                    strokeWeight: 3,       //边线的宽度，以像素为单位。
                    strokeOpacity: 0.8,	   //边线透明度，取值范围0 - 1。
                    fillOpacity: 0.6,      //填充的透明度，取值范围0 - 1。
                    strokeStyle: 'solid' //边线的样式，solid或dashed。
                }
                //实例化鼠标绘制工具
                var drawingManager = new BMapLib.DrawingManager(map, {
                    isOpen: false, //是否开启绘制模式
                    enableDrawingTool: true, //是否显示工具栏
                    drawingToolOptions: {
                        anchor: BMAP_ANCHOR_TOP_RIGHT, //位置
                        offset: new BMap.Size(5, 5), //偏离值
                    },
                    // circleOptions: styleOptions, //圆的样式
                    // polylineOptions: styleOptions, //线的样式
                    // polygonOptions: styleOptions, //多边形的样式
                    rectangleOptions: styleOptions //矩形的样式
                });
                //添加鼠标绘制工具监听事件，用于获取绘制结果
                drawingManager.addEventListener('overlaycomplete', overlaycomplete);
            }
        },
        mounted(){
            var that = this
            that.initMap()

            var that = this


        }
    })

</script>
</body>
</html>
